* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url(./img/wall.png);
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

h1 {
    font-size: 85px;
    font-family: "Edu Tas Beginner", sans-serif;

}

main {
    background-image: url(./img/cork.png);
    padding-top: 40px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin: 0 auto;
}

.puntorosso {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.card {
    border: solid 2px black;
    margin: 10px auto;
    flex-basis: 30%;
    background-color: white;
    position: relative;
}

.card img {
    max-width: 100%;
    padding: 20px;
}

.card h3 {
    font-family: "Edu Tas Beginner", sans-serif;
    font-size: 20px;
    MARGIN-LEFT: 20px;
    padding: 2px 0;
}

.card p {
    font-family: "Sometype Mono", monospace;
    font-size: 20px;
    MARGIN-LEFT: 20px;
    margin-bottom: 8px;

}
/* _______________________________________________________________ */

#overlay {
    position: fixed;
    inset: 0; /* sarebbe l'abbreviazione di top, bottom, right, left= 0 */
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#overlay.hidden {
    display: none;
}

#overlay img {
    max-width: 85%;
    max-height: 85%;
    background: white;
    padding: 20px;
    border-radius: 4px;
}

#close-btn {
    position: absolute;
    top: 20px;
    font-size: 36px;
    cursor: pointer;
    border: solid 3px black;
    border-radius: 4px;
    padding: 6px;
}
/* Tablet */
@media (max-width: 768px) {
    .card {
        flex-basis: 48%;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .card {
       flex-basis: 100%;
    }
h1 {
    font-size: 60px;
}
}