* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url(./img/wall.png);
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

h1 {
    font-size: 85px;
}

main {
    background-image: url(./img/cork.png);
    height: 100vh;
}

#container {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin: 0 auto;
}

.card {
    border: solid 2px black;
    margin: 10px auto;
    flex-basis: 30%;
}